<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>463582685492-s4pnio05q7rjrkpkqf8es91s3eojrr1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463582685492-s4pnio05q7rjrkpkqf8es91s3eojrr1e</string>
	<key>API_KEY</key>
	<string>AIzaSyAtty21bi4cJalZ_hwtbOX-2XGI20Lxt_g</string>
	<key>GCM_SENDER_ID</key>
	<string>463582685492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.beangry.boar</string>
	<key>PROJECT_ID</key>
	<string>boar-4dd65</string>
	<key>STORAGE_BUCKET</key>
	<string>boar-4dd65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:463582685492:ios:aff125c77fe6b25b</string>
	<key>DATABASE_URL</key>
	<string>https://boar-4dd65.firebaseio.com</string>
</dict>
</plist>